<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <ul>
                <li><a href="/personne">Personne</a></li>
                <li><a href="{{ path('voiture_index') }}">Voiture</a></li>
                <li><a href="/voiture">Pays</a></li>
            </ul>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
        
    </body>
</html>
